.detalles{
    text-align: center;
    padding-top: 50px;

    .carousel{

        width: 475px;
        margin: auto;

       .imagen{
        width: 500px;
        } 
    }

    .compra{
        text-decoration: none;
        color: white;
    }
}

