.icono{
    padding-right: 20px;
}
.navbar{
    text-decoration: none;
    color: rgb(255, 0, 0);
}
.navbar1{
    text-decoration: none;
    color: rgb(255, 255, 255);
    &:hover{
        color: white;
        border-radius: 5px;
    }
}
.carrito{
    visibility: hidden;
}